@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --block-width: 800px;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    color: red;
}

*:not(#lorem):not(.block) {
    font-family: serif;
}

letters {
    display: block;
    width: max-content;
    max-width: 80vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
letters > img, letters > div {
    flex-shrink: 0;
}

#lorem {
    position: fixed;
    top: 0;
    z-index: -1;
    color: rgba(0, 0, 0, .1);
    font-size: .6em;
    line-height: .65em;
    font-family: "Orelega One", serif;
    pointer-events: none;
    background: white;
    width: 110vw;
}
#hi, #projects, .category {
    mix-blend-mode: color-burn;
    text-align: center;
    color: black;
}
#hi {
    font-size: 5em;
}
#projects, .category {
    font-size: 3em;
}
#title {
    margin-left: auto;
    margin-right: auto;
}

/* https://codepen.io/kkl/pen/bVKeNw */

.block {
    background: #F5DEB3; /* wheat */
    width: calc(100vw - 4em);
    padding: 2em;
    position: relative;
    font-family: "Roboto Slab", serif;
    margin-top: 6em;
}
.block::before {
    content: "";
    position: absolute;
    top: -29px;
    height: 30px;
    width: 100%;
    left: 0;
    background: url(rip.svg) bottom;
    transform: rotate(180deg);
}
.block::after {
    content: "";
    position: absolute;
    top: calc(100% - 1px);
    height: 30px;
    width: 100%;
    left: 0;
    background: url(rip.svg) bottom;
}
.block:nth-child(2n) > letters {
    margin-left: auto;
}
.block:nth-child(2n) {
    text-align: right;
}
.block > * {
    margin-right: max(0px, calc(50vw - var(--block-width) / 2));
    margin-left: max(0px, calc(50vw - var(--block-width) / 2));
}

#buttons {
    width: fit-content;
}
#buttons img {
    image-rendering: pixelated;
}